<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="http://adijaya.id">Adijaya Academy</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://digitalneo.id">Digital Neo Sistem</a>.</p>
    </section>
</section>
