<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ base_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ theme_config.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      {% include 'partials/navigation.html.twig'%}
    </nav>

     <p> Join <a href="https://discord.gg/WnknCdRgyz">Discord</a> </p>
     <p>&copy; {{ page.date|date('Y') }}. by <a href="https://digitalneo.id/">DigitalNeo</a></p>
  </div>
</div>
